@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Signika:wght@600&display=swap');

:root{
    font-family: 'Poppins', sans-serif;
    --main-color: black;
    --accent-color: #519AC9;
    scroll-behavior: smooth;
}

header .menu a{
    color: #235565;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
header .logo-block{
    display: flex;
    align-items: center;
    padding: 5px;
}

header .logo-block img{
    padding:10px;
}
/*first section*/

.background h1{
    color: var(--accent-color);
    font-size: 12px;
}

.background p{
    color:var(--main-color);
    font-family:'Signika', sans-serif;
    font-size:56px;
}

.background {
    background-image: url(..img/background.svg);
}