@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Signika:wght@600&display=swap'); 
:root {
    font-family: 'Poppins', sans-serif;
    --main-color: black; --accent-color: #519AC9; --menu-color: #235565; scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

header .menu {
    flex: 1;
    justify-content: space-around;
}

header .menu a {
    color: black;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    border: 1px solid transparent;
}

header .menu a:hover {
    border: 1px solid var(--menu-color);
}

@media (min-width: 769px) {
    header .header-nav {
        display: flex;
    }

    header .menu {
        display: flex;
        align-items: center;
    }
}

header .logo-block {
    display: flex;
    align-items: center;
    padding: 5px;
}

header .logo-block img {
    padding: 10px;
}

/*first section*/
.mobile-firstsection {
    display: flex;
    max-width: 350px;
    flex-direction: column;
    margin: 5px;
}

.mobile-firstsection h1 {
    color: var(--accent-color);
    font-size: 18px;
}

.mobile-firstsection h2 {
    color: var(--main-color);
    font-family: 'Signika', sans-serif;
    font-size: 48px;
}



.mobile-header {
    background-position: left;
    background-image: url(../img/background.jpg);
    background-size: cover;
    min-width: 450px;
}

.desktop-firstsection {
    display: flex;
    max-width: 350px;
    flex-direction: column;
    margin: 5px;
}

.desktop-firstsection h1 {
    color: var(--accent-color);
    font-size: 18px;
}

.desktop-firstsection h2 {
    color: var(--main-color);
    font-family: 'Signika', sans-serif;
    font-size: 48px;
}

/* .desktop-header {
    display: flex;
    align-content: center;
    padding: 5px;
}
.desktop-header img {
    padding: 10px;
} */
@media (min-width: 768px){
    .desktop-header{
        display: flex;
        flex-direction: row;
    }
}
@media (min-width: 768px) {
  .mobile-header {
     display: none;
  } 
  .desktop-header {
      display: block;
   }
}
@media (max-width: 768px) {
  .mobile-header {
     display: block;
  } 
  .desktop-header {
      display: none;
   }
}


/*Controls*/
.button {
    width: 50%;
    padding: 1em 1.2em;
    border: 0.1em solid white;
    margin: 0.7em 0.3em 0.3em 0.3em;
    border-radius: 0.12em;
    color: white;
    text-align: center;
    transition: all 0.7s;
    background-color: var(--menu-color);
}

/* .services {
    display: flex;
    max-width: 350px;
    flex-direction: column;
    margin:5px;
    align-items: center;
}

.services h2{
    font-family: 'Signika', sans-serif ;
} */